form.add-book-form {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

form.add-book-form label {
    padding-top: 40px;
}

form.add-book-form input, select, textarea{
    margin-top: 20px;
    width: 300px;
    font: inherit;
}

form.add-book-form textarea {
    height: 20vw;
}

form.add-book-form #addblurb {
    height: 20vw;
}

span.successmessage {
    color: green;
}



/* #add-h1 */

@media screen and (max-width: 950px) {
    #add-welcome {
        height: 500px
    }

    #add-h1 {
        
    }
}

@media screen and (max-width: 490px) {
    #add-welcome {

    }

    #add-h1 {
        font-size: 3rem;
    }
}

@media screen and (max-width: 320px) {
    
    #add-h1 {
        margin-top: 150px;
    }
}

