form.add-book-form {
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

form.add-book-form label {
    padding-top: 40px;
}

form.add-book-form input, select {
    margin-top: 20px;
}