
.claim-book {
    width: 420px;
    height: auto;
    background-color: rgb(179, 159, 159);
    border-radius: 5px;
    padding: 25px 20px 25px 40px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.claim-book-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: -35px;
    align-items: center;
    align-content: center;
    
}

.claimSubmit {
    margin-top: 8px;
    border-radius: 5px;
    border: none;
    position: relative;
}

.claim-book-details h3 {
    margin-top: -5px;
    position: relative;
    right: 17%;
    
}

#name, #email {
    border-radius: 2px;
    border: none;
    margin-left: 4px;
}

span.errormessage {
    color: red;
    padding: 0px;
    margin: 0px;
    margin-left: 27px;
}

form.claim-book input {
    padding: 5px;
}

#emailClaim {
    margin-left: 3px;
}

#name-label {
    position: relative;
    right: 3px;    
}

#claim-this-book-submit {
    position: relative;
    left: 31px;
    width: 74%;
}

