.books-container {
    position:absolute;
    display: flex;
    flex-wrap: wrap;
    width:100%;
    gap: 10px;
    justify-content: space-around;
    margin-top: 30px;
}

.welcome {
        gap: 2px;
        top: 0;
        left:0;
        right: 0;
        background: rgb(234, 234, 234);
        height: 400px;
        z-index: -1;
        box-shadow: 0 4px 6px -6px #222;
        text-align: center;
        padding-top: 50px;
        width: 100%;
        margin: 0;
        position: relative;
}


.welcome h1 {
    font-size: 70px;
    margin-top: 180px;
    margin-bottom:0px;
    text-shadow: 3px 3px 9px rgba(204, 204, 204, 1);
}

.welcome h2 {
    font-size: 50px;
    margin-top: 0px;
    margin-bottom:70px;
    text-shadow: 3px 3px 9px rgba(204, 204, 204, 1);

}

.welcome h3 {
    font-size: 22px;
    font-weight:lighter;
    margin-bottom: 50px;
    margin-top: 20px;
    text-align: center;
}

#root{
    width: 100%;
}
