.books-container {
    position:absolute;
    display: flex;
    flex-wrap: wrap;
    width:100%;
    gap: 10px;
    justify-content: space-around;
    margin-top: 30px;
}

.welcome {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        gap: 2px;
        align-content: flex-start;
        align-items: flex-start;
        top: 0;
        left:0;
        right: 0;
        width: 100%;
        background: rgb(234, 234, 234);
        padding-left: 400px;
        height: 400px;
        z-index: -1;
        box-shadow: 0 4px 6px -6px #222;
}


.welcome h1 {
    font-size: 70px;
    margin-top: 180px;
    margin-bottom:0px;
    text-shadow: 3px 3px 9px rgba(204, 204, 204, 1);

}

.welcome h2 {
    font-size: 50px;
    margin-top: -10px;
    margin-bottom:70px;
    text-shadow: 3px 3px 9px rgba(204, 204, 204, 1);

}

.welcome h3 {
    font-size: 22px;
    font-weight:lighter;
    margin-bottom: 50px;
    margin-top: -40px;

}
