.books-container {
    position:absolute;
    display: flex;
    flex-wrap: wrap;
    width:100%;
    gap: 10px;
    justify-content: space-around;
    margin-top: 30px;
}

.welcome {
    margin-top:200px;
    color: black;
}