nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    top: 0;
    left:0;
    right: 0;
    width: 100%;
    background: rgba(0, 0, 0);
    padding: 10px;
<<<<<<< HEAD
    max-height: 80px;
=======
    max-height: 100px;
    z-index: 1;
>>>>>>> main
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    align-items:center;
    font-size: 40px;
    padding-right: 50px;
}

@media screen and (max-width: 400px) {
    nav ul {
        font-size: 2rem;
    }
}

nav ul a {
    text-decoration: none;
    cursor: pointer;
    color: aliceblue;
    text-align: center;
    padding: 0 10px;
}

nav ul a:hover {
    text-decoration: none;
    cursor: pointer;
    color: rgb(0, 238, 255);
}

.navbooks {
    font-size: 20px;
}

nav ul a.active {
    color: rgb(0, 238, 255);
}