nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content:center;
    align-items:center;
    top: 0;
    left:0;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    padding: 20px;
    max-height: 100px;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content:center;
    align-items:center;
    font-size: 3rem;
    

}

nav ul a {
    text-decoration: none;
    cursor: pointer;

}