.filter {
    position:relative;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    left: 0px;
    margin-top: 50px;
    height: 50px;
}

.claimed_filter {
    margin-top:200px;
}

/* #addgenre {
    border-radius: 6px;
    width:200px;
    height:30px;
} */

/* .filter label {
font-size: 20px ;
color: #000000;
margin-right:-10px;
font-weight: bold;
margin-top: 20px;
} */
#claimed-welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media screen and (max-width: 750px) {
    #claimed-welcome {
        background: rgb(234, 234, 234);
        height: 550px;
        padding-top: 20px; 
    }
}

@media screen and (max-width: 413px) {
    #claimed-welcome {
        background: rgb(234, 234, 234);
        height: 450px;
        padding-top: 20px; 
    }
}

@media screen and (max-width: 375px) {
    #claimed-welcome {
        background: rgb(234, 234, 234);
        height: 450px;
        padding-top: 20px; 
    }
}

@media screen and (max-width: 500px) {
    #claimed-h1 {
        margin-top: 100px;
    }
}

@media screen and (max-width: 430px) {
    #claimed-h1 {
        font-size: 3rem;
    }
}


